.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.cell-highlighted {
    background-color: aquamarine;
}

.cell-reserved {
    background-color:gray;
}

.cell-error {
    background-color:red;
}

.cell-reserved.cell-error {
    background-color:darkred;
}