<div 
(mouseover)="onHover()"
(click)="onClick()"
[ngClass]="{
    'cell': true
}">
    <div
    [ngClass]="{
        'direction': true
    }"
    class="{{properties?.planePart?.direction}}">
        <div [ngClass]="{
            'element': true,
            'damaged': properties?.planePart?.isDamaged
        }"
        class="{{properties?.planePart?.part}}">
            <div [ngClass]="{
                'cell-state':true,
                'cell-free': isCellFree(),
                'cell-highlighted': isCellHighlighted(),
                'cell-error': isCellError() || properties.isError,
                'cell-reserved': isCellReserved()
            }">

            </div>
        </div>
    </div>
</div>
