

.direction, .element, .cell-state {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.target-cross {
    background-image: url('/assets/target.png');
    background-size: 100%;
}

.hit {
    background-color: red;
}

.head {
    background-image: url('/assets/unnamed.png');
    background-position:  -60px 0;
    background-size: 150px;
}

.body {
    background-image: url('/assets/unnamed.png');
    background-position:  -60px -60px;
    background-size: 150px;
}

.wing-1 {
    background-image: url('/assets/unnamed.png');
    background-position:  0 -30px;
    background-size: 150px;
}

.wing-2 {
    background-image: url('/assets/unnamed.png');
    background-position:  -30px -30px;
    background-size: 150px;
}

.wing-3 {
    background-image: url('/assets/unnamed.png');
    background-position:  -60px -30px;
    background-size: 150px;
}

.wing-4 {
    background-image: url('/assets/unnamed.png');
    background-position:  -90px -30px;
    background-size: 150px;
}

.wing-5 {
    background-image: url('/assets/unnamed.png');
    background-position:  -120px -30px;
    background-size: 150px;
}

.tail-1 {
    background-image: url('/assets/unnamed.png');
    background-position:  -30px -90px;
    background-size: 150px;
}

.tail-2 {
    background-image: url('/assets/unnamed.png');
    background-position:  -60px -90px;
    background-size: 150px;
}

.tail-3 {
    background-image: url('/assets/unnamed.png');
    background-position:  -90px -90px;
    background-size: 150px;
}

.up {}

.down {
    transform: rotate(180deg);
}
.right {
    transform: rotate(90deg);
}
.left {
    transform: rotate(-90deg);
}

.down .wing-5, .down .tail-3, .down .wing-1, .down .tail-1 {
    transform: scaleX(-1);
}

.left .wing-5, .left .tail-3, .left .wing-1, .left .tail-1 {
    transform: scaleX(-1);
}