<app-gameboard 
[$elements]="hitPlanes" 
[activeElement]="targetCross" 
(onCellHover)="onCellHover($event)"
(onCellClick)="onCellClick($event)"
[disabled]="isWaitingForEnemyToShoot"
></app-gameboard>

<div *ngIf="confirmationWindowVisible" class="confirmation">
    <button class="confirm-button" (click)="confirmShoot()">confirm_shooting</button>
    <button class="confirm-cancel-button" (click)="cancekShoot()">confirm_cancel</button>
</div>

<hr>

<app-gameboard 
[$elements]="ownPlanes$" 
[activeElement]="targetCross" 
(onCellHover)="onCellHover($event)"
(onCellClick)="onCellClick($event)"
[disabled]="true"
></app-gameboard>

<div *ngIf="isVictory" class="victory-message">Victory</div>